In [1]:
pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in /opt/homebrew/Cellar/jupyterlab/4.2.1/libexec/lib/python3.12/site-packages (2.9.9)

[notice] A new release of pip is available: 24.0 -> 24.1.1
[notice] To update, run: /opt/homebrew/Cellar/jupyterlab/4.2.1/libexec/bin/python -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install psycopg2

Collecting psycopg2
  Using cached psycopg2-2.9.9.tar.gz (384 kB)
  Installing build dependencies ... done
  Getting requirements to build wheel ... error
  error: subprocess-exited-with-error

  × Getting requirements to build wheel did not run successfully.
  │ exit code: 1
  ╰─> [21 lines of output]
      running egg_info
      writing psycopg2.egg-info/PKG-INFO
      writing dependency_links to psycopg2.egg-info/dependency_links.txt
      writing top-level names to psycopg2.egg-info/top_level.txt

      Error: pg_config executable not found.

      pg_config is required to build psycopg2 from source.  Please add the directory
      containing pg_config to the $PATH or specify the full executable path with the
      option:

          python setup.py build_ext --pg-config /path/to/pg_config build ...

      or with the pg_config option in 'setup.cfg'.

      If you prefer to avoid building psycopg2 from source, please install the PyPI
      'psycopg2-binary' package instead.

      For further information please check the 'doc/src/install.rst' file (also at
      <https://www.psycopg.org/docs/install.html>).

      [end of output]

  note: This error originates from a subprocess, and is likely not a problem with pip.
error: subprocess-exited-with-error

× Getting requirements to build wheel did not run successfully.
│ exit code: 1
╰─> See above for output.

note: This error originates from a subprocess, and is likely not a problem with pip.

[notice] A new release of pip is available: 24.0 -> 24.1.1
[notice] To update, run: /opt/homebrew/Cellar/jupyterlab/4.2.1/libexec/bin/python -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /opt/homebrew/Cellar/jupyterlab/4.2.1/libexec/lib/python3.12/site-packages (2.0.31)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/homebrew/Cellar/jupyterlab/4.2.1/libexec/lib/python3.12/site-packages (from sqlalchemy) (4.12.2)

[notice] A new release of pip is available: 24.0 -> 24.1.1
[notice] To update, run: /opt/homebrew/Cellar/jupyterlab/4.2.1/libexec/bin/python -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [6]:
import pandas as pd
import psycopg2
from sqlalchemy import create_engine

In [7]:
orders_df = pd.read_csv("data/orders.csv")

In [8]:
orders_df.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [9]:
aisles_df = pd.read_csv("data/aisles.csv")
departments_df = pd.read_csv("data/departments.csv")
order_products_df = pd.read_csv("data/order_products.csv")
products_df = pd.read_csv("data/products.csv")

In [11]:
aisles_df.head()

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

In [12]:
order_products_df.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [13]:
products_df.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

In [14]:
departments_df.head()

   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

In [23]:
orders_df.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [17]:
# Connection to DB
try:
    conn = psycopg2.connect(dbname="Instacart",user='postgres',password ='root', port = '5432')
except:
    print("Connection was unsuccessful")

In [18]:
cur = conn.cursor()

In [19]:
engine = create_engine('postgresql+psycopg2://postgres:root@localhost/Instacart')

In [20]:
cur.execute("""
    CREATE TABLE aisles (
        aisle_id INTEGER PRIMARY KEY,
        aisle VARCHAR(255)
    )
""")

In [21]:
cur.execute("""
    CREATE TABLE departments(
        department_id INTEGER PRIMARY KEY,
        department VARCHAR(255)
    )
""")

In [22]:
cur.execute("""
    CREATE TABLE products(
        product_id INTEGER PRIMARY KEY,
        product_name VARCHAR(255),
        aisle_id INTEGER,
        department_id INTEGER,
        FOREIGN KEY (aisle_id) REFERENCES aisles(aisle_id),
        FOREIGN KEY (department_id) REFERENCES departments(department_id)
    )
""")

In [24]:
cur.execute("""
    CREATE TABLE orders(
        order_id INTEGER PRIMARY KEY,
        user_id	INTEGER,
        order_number INTEGER,
        order_dow INTEGER,
        order_hour_of_day INTEGER,
        days_since_prior_order INTEGER
    )
""")

In [25]:
cur.execute("""
    CREATE TABLE order_products(
        order_id INTEGER,
        product_id INTEGER,
        add_to_cart_order INTEGER,
        reordered INTEGER,
        PRIMARY KEY(order_id,product_id),
        FOREIGN KEY (order_id) REFERENCES orders(order_id),
        FOREIGN KEY (product_id) REFERENCES products(product_id)
    )
""")

In [26]:
conn.commit()

In [27]:
orders_df.drop('eval_set',inplace = True, axis=1)

In [29]:
aisles_df.to_sql('aisles', con=engine, if_exists='append', index = False)

134

In [30]:
departments_df.to_sql('departments', con=engine, if_exists='append', index = False)
order_products_df.to_sql('order_products', con=engine, if_exists='append', index = False)
products_df.to_sql('products', con=engine, if_exists='append', index = False)
orders_df.to_sql('orders', con=engine, if_exists='append', index = False)

IntegrityError: (psycopg2.errors.ForeignKeyViolation) insert or update on table "order_products" violates foreign key constraint "order_products_order_id_fkey"
DETAIL:  Key (order_id)=(2) is not present in table "orders".

[SQL: INSERT INTO order_products (order_id, product_id, add_to_cart_order, reordered) VALUES (%(order_id__0)s, %(product_id__0)s, %(add_to_cart_order__0)s, %(reordered__0)s), (%(order_id__1)s, %(product_id__1)s, %(add_to_cart_order__1)s, %(reordered__1)s), ... 89295 characters truncated ... ed__998)s), (%(order_id__999)s, %(product_id__999)s, %(add_to_cart_order__999)s, %(reordered__999)s)]
[parameters: {'add_to_cart_order__0': 1, 'product_id__0': 33120, 'order_id__0': 2, 'reordered__0': 1, 'add_to_cart_order__1': 2, 'product_id__1': 28985, 'order_id__1': 2, 'reordered__1': 1, 'add_to_cart_order__2': 3, 'product_id__2': 9327, 'order_id__2': 2, 'reordered__2': 0, 'add_to_cart_order__3': 4, 'product_id__3': 45918, 'order_id__3': 2, 'reordered__3': 1, 'add_to_cart_order__4': 5, 'product_id__4': 30035, 'order_id__4': 2, 'reordered__4': 0, 'add_to_cart_order__5': 6, 'product_id__5': 17794, 'order_id__5': 2, 'reordered__5': 1, 'add_to_cart_order__6': 7, 'product_id__6': 40141, 'order_id__6': 2, 'reordered__6': 1, 'add_to_cart_order__7': 8, 'product_id__7': 1819, 'order_id__7': 2, 'reordered__7': 1, 'add_to_cart_order__8': 9, 'product_id__8': 43668, 'order_id__8': 2, 'reordered__8': 0, 'add_to_cart_order__9': 1, 'product_id__9': 33754, 'order_id__9': 3, 'reordered__9': 1, 'add_to_cart_order__10': 2, 'product_id__10': 24838, 'order_id__10': 3, 'reordered__10': 1, 'add_to_cart_order__11': 3, 'product_id__11': 17704, 'order_id__11': 3, 'reordered__11': 1, 'add_to_cart_order__12': 4, 'product_id__12': 21903 ... 3900 parameters truncated ... 'order_id__987': 109, 'reordered__987': 0, 'add_to_cart_order__988': 12, 'product_id__988': 35871, 'order_id__988': 109, 'reordered__988': 0, 'add_to_cart_order__989': 13, 'product_id__989': 49056, 'order_id__989': 109, 'reordered__989': 0, 'add_to_cart_order__990': 14, 'product_id__990': 31555, 'order_id__990': 109, 'reordered__990': 1, 'add_to_cart_order__991': 15, 'product_id__991': 22894, 'order_id__991': 109, 'reordered__991': 0, 'add_to_cart_order__992': 16, 'product_id__992': 37751, 'order_id__992': 109, 'reordered__992': 0, 'add_to_cart_order__993': 17, 'product_id__993': 42240, 'order_id__993': 109, 'reordered__993': 0, 'add_to_cart_order__994': 18, 'product_id__994': 15452, 'order_id__994': 109, 'reordered__994': 0, 'add_to_cart_order__995': 19, 'product_id__995': 33651, 'order_id__995': 109, 'reordered__995': 0, 'add_to_cart_order__996': 20, 'product_id__996': 36066, 'order_id__996': 109, 'reordered__996': 0, 'add_to_cart_order__997': 21, 'product_id__997': 40310, 'order_id__997': 109, 'reordered__997': 1, 'add_to_cart_order__998': 1, 'product_id__998': 5876, 'order_id__998': 110, 'reordered__998': 0, 'add_to_cart_order__999': 2, 'product_id__999': 35951, 'order_id__999': 110, 'reordered__999': 0}]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

In [31]:
orders_df.to_sql('orders', con=engine, if_exists='append', index = False)

83

In [32]:
products_df.to_sql('products', con=engine, if_exists='append', index = False)

688

In [33]:
order_products_df.to_sql('order_products', con=engine, if_exists='append', index = False)

489